<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>jquery-weui demo</title>
  <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
  <meta content="yes" name="apple-mobile-web-app-capable" />
  <meta content="black" name="apple-mobile-web-app-status-bar-style" />
  <meta content="telephone=no" name="format-detection" />

  <link rel="stylesheet" href="{{ static_url('jquery-weui/lib/weui.min.css') }}">
  <link rel="stylesheet" href="{{ static_url('jquery-weui/css/jquery-weui.min.css') }}">
  <link rel="stylesheet" href="{{ static_url('jquery-weui/demos/css/demos.css') }}">
</head>

<body ontouchstart>

  <div class="page__bd">
    <div class="weui-panel weui-panel_access">
      <div class="weui-panel__hd">商品信息</div>
      <div class="weui-panel__bd">
        <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
          <div class="weui-media-box__hd">
            <img class="weui-media-box__thumb" src="{{ article['img'] }}!100x100" alt="">
          </div>
          <div class="weui-media-box__bd">
            <h4 class="weui-media-box__title">{{ article['title'] }}</h4>
            <p class="weui-media-box__desc">{{ article['subtitle'] }}</p>
          </div>
        </a>
      </div>
    </div>

    <div class="weui-cells__title">选择尺寸</div>
    <div class="weui-cells weui-cells_radio">
      <label class="weui-cell weui-check__label" for="x11">
        <div class="weui-cell__bd">
          <p>6寸 $240</p>
        </div>
        <div class="weui-cell__ft">
          <input type="radio" class="weui-check" name="radio1" id="x11" checked="checked">
          <span class="weui-icon-checked"></span>
        </div>
      </label>
      <label class="weui-cell weui-check__label" for="x12">
        <div class="weui-cell__bd">
          <p>8寸 $360</p>
        </div>
        <div class="weui-cell__ft">
          <input type="radio" name="radio1" class="weui-check" id="x12">
          <span class="weui-icon-checked"></span>
        </div>
      </label>
      <label class="weui-cell weui-check__label" for="x13">
        <div class="weui-cell__bd">
          <p>10寸 $480</p>
        </div>
        <div class="weui-cell__ft">
          <input type="radio" name="radio1" class="weui-check" id="x13">
          <span class="weui-icon-checked"></span>
        </div>
      </label>
    </div>

    <div class="weui-cells__title">送货日期</div>
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <input class="weui-input" type="date" value="">
      </div>
    </div>

    <div class="weui-cells__title">联系方式</div>
    <div class="weui-cells">
      <div class="weui-cell weui-cell_select weui-cell_select-before">
        <div class="weui-cell__hd">
          <select class="weui-select" name="select2">
            <option value="1">+86</option>
          </select>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="number" pattern="[0-9]*" placeholder="请输入手机号码">
        </div>
      </div>
    </div>
    <div class="weui-cells weui-cells_form">
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <textarea class="weui-textarea" placeholder="请输入送货地址" rows="2"></textarea>
          <div class="weui-textarea-counter"><span>0</span>/200</div>
        </div>
      </div>
    </div>

    <div class='demos-content-padded'>
      <div class="button_sp_area">
        <a href="/weui/clubs/{{ club['_id'] }}/products/{{ article['_id'] }}/place-order-success" class="weui-btn weui-btn_primary">下单</a>
      </div>
    </div>

  </div>

  <!-- 引入jQuery 2.0+ -->
  <script src="{{ static_url('js/jquery-2.2.4.min.js') }}"></script>
  <script src="{{ static_url('jquery-weui/lib/fastclick.js') }}"></script>
  <script>
    $(function() {
      FastClick.attach(document.body);
    });
  </script>
  <script src="{{ static_url('jquery-weui/js/jquery-weui.min.js') }}"></script>

  <!-- 如果使用了某些拓展插件还需要额外的JS -->
  <script src="{{ static_url('jquery-weui/js/swiper.min.js') }}"></script>
  <script src="{{ static_url('jquery-weui/js/city-picker.min.js') }}"></script>

</body>

</html>
