<!-- Footer -->
<footer class="page-footer primary-color">
  <div class="section center">
    <h2 class="heading white-text">Shuttle</h2>
    <p class="center-align grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
    <div class="footer-icons">
      <i class="ion-social-facebook m-10 white-text"></i>
      <i class="ion-social-twitter m-10 white-text"></i>
      <i class="ion-social-pinterest m-10 white-text"></i>
      <i class="ion-social-instagram m-10 white-text"></i>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center">
      <span>Made with <i class="ion-ios-heart"></i> by 7x24hs.com</span>
    </div>
  </div>
</footer>
