<!-- Left Sidebar -->
<ul id="slide-out-left" class="side-nav collapsible">
  <li class="sidenav-avatar bg-material">
    <div class="opacity-overlay-gradient"></div>
    <div class="bottom">
      <img src="/static/shuttle/img/user.jpg" alt="" class="avatar">
      <!-- Dropdown Trigger -->
      <span class="dropdown-button waves-effect waves-light" data-activates="dropdown1">heyfromjhon@email.com<i class="ion-android-arrow-dropdown right"></i></span>
      <!-- Dropdown Structure -->
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">hellojhon@email.com</a></li>
        <li><a href="#!">heyfromjhon@email.com</a></li>
        <li class="divider"></li>
        <li><a href="#!">Settings <i class="ion-ios-gear"></i></a></li>
      </ul>
    </div>
  </li>
  <li>
    <div class="collapsible-header waves-effect">
      <i class="ion-android-home"></i>Home<span class="more"><i class="ion-ios-arrow-right"></i></span>
    </div>
    <div class="collapsible-body">
      <ul class="collapsible">
        <li>
          <a href="/webapp/index">Classic</a>
          <a href="/webapp/index-sliced">Sliced</a>
          <a href="/webapp/index-slider">Slider</a>
          <a href="/webapp/index-drawer">Drawer</a>
          <a href="/webapp/index-walkthrough">Walkthrough</a>
        </li>
      </ul>
    </div>
  </li>
  <li>
    <div class="collapsible-header waves-effect">
      <i class="ion-android-exit"></i>Layout<span class="more"><i class="ion-ios-arrow-right"></i></span>
    </div>
    <div class="collapsible-body">
      <ul class="collapsible">
        <li>
          <a href="/webapp/material">Material</a>
          <a href="/webapp/left-sidebar">Left</a>
          <a href="/webapp/right-sidebar">Right</a>
          <a href="/webapp/dual-sidebar">Dual</a>
          <a href="/webapp/blank">Blank</a>
        </li>
      </ul>
    </div>
  </li>
  <li>
    <div class="collapsible-header waves-effect">
      <i class="ion-android-document"></i>Pages<span class="more"><i class="ion-ios-arrow-right"></i></span>
    </div>
    <div class="collapsible-body">
      <ul class="collapsible">
        <li>
          <a href="/webapp/article">Article</a>
          <a href="/webapp/about">About</a>
          <a href="/webapp/event">Event</a>
          <a href="/webapp/project">Project</a>
          <a href="/webapp/player">Music Player</a>
          <a href="/webapp/todo">ToDo</a>
          <a href="/webapp/category">Category</a>
          <a href="/webapp/product">Product</a>
          <a href="/webapp/checkout">Checkout</a>
          <a href="/webapp/search">Search</a>
          <a href="/webapp/faq">Faq</a>
          <a href="/webapp/coming-soon">Coming Soon</a>
          <a href="/webapp/404">404</a>
        </li>
      </ul>
    </div>
  </li>
  <li>
    <div class="collapsible-header waves-effect">
      <i class="ion-android-apps"></i>App<span class="more"><i class="ion-ios-arrow-right"></i></span>
    </div>
    <div class="collapsible-body">
      <ul class="collapsible">
        <li>
          <a href="/webapp/calendar">Calendar</a>
          <a href="/webapp/profile">Profile</a>
          <a href="/webapp/timeline">Timeline</a>
          <a href="/webapp/chat">Chat</a>
          <a href="/webapp/login">Login</a>
          <a href="/webapp/signup">Sign Up</a>
          <a href="/webapp/forgot">Password</a>
          <a href="/webapp/lockscreen">Lockscreen</a>
          <a href="/webapp/chart">Chart</a>
        </li>
      </ul>
    </div>
  </li>
  <li>
    <div class="collapsible-header waves-effect">
      <i class="ion-android-list"></i>Blog<span class="more"><i class="ion-ios-arrow-right"></i></span>
    </div>
    <div class="collapsible-body">
      <ul class="collapsible">
        <li>
          <a href="/webapp/blog">Classic</a>
          <a href="/webapp/blog-masonry">Masonry</a>
        </li>
      </ul>
    </div>
  </li>
  <li>
    <div class="collapsible-header waves-effect">
      <i class="ion-android-image"></i>Gallery<span class="more"><i class="ion-ios-arrow-right"></i></span>
    </div>
    <div class="collapsible-body">
      <ul class="collapsible">
        <li>
          <a href="/webapp/gallery-filter">Filter</a>
          <a href="/webapp/gallery-masonry">Masonry</a>
          <a href="/webapp/gallery-card">Card</a>
        </li>
      </ul>
    </div>
  </li>
  <li>
    <div class="collapsible-header waves-effect">
      <i class="ion-android-camera"></i>Portfolio<span class="more"><i class="ion-ios-arrow-right"></i></span>
    </div>
    <div class="collapsible-body">
      <ul class="collapsible">
        <li>
          <a href="/webapp/portfolio-filter">Filter</a>
          <a href="/webapp/portfolio-masonry">Masonry</a>
          <a href="/webapp/portfolio-card">Card</a>
        </li>
      </ul>
    </div>
  </li>
  <li><a href="/webapp/shop" class="waves-effect"><i class="ion-android-playstore"></i> Shop</a></li>
  <li><a href="/webapp/news" class="waves-effect"><i class="ion-social-rss"></i> News</a></li>
  <li><a href="/webapp/coming-soon" class="waves-effect"><i class="ion-wand"></i>UI Kit (Coming Soon)</a></li>
  <li><a href="/webapp/contact" class="waves-effect"><i class="ion-android-map"></i> Contact</a></li>
</ul>
