<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Shuttle - Material Design Mobile Template</title>
    <meta name="description" content="Material Design Mobile Template">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/shuttle/img/touch/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/shuttle/img/touch/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/shuttle/img/touch/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/shuttle/img/touch/apple-touch-icon-57x57-precomposed.png">
    <link rel="shortcut icon" sizes="196x196" href="/static/shuttle/img/touch/touch-icon-196x196.png">
    <link rel="shortcut icon" href="/static/shuttle/img/touch/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="/static/shuttle/img/touch/apple-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#222222">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">

    <!-- SEO: If mobile URL is different from desktop URL, add a canonical link to the desktop page -->
    <!--
    <link rel="canonical" href="http://www.example.com/" >
    -->

    <!-- For iOS web apps. Delete if not needed. https://github.com/h5bp/mobile-boilerplate/issues/94 -->
    <!--
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="">
    -->

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,100' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <!-- Icons -->
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" media="all" rel="stylesheet" type="text/css">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ static_url('shuttle/css/animate.css') }}">
    <link rel="stylesheet" href="{{ static_url('shuttle/css/materialize.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('shuttle/css/swipebox.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('shuttle/css/swiper.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('shuttle/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ static_url('shuttle/css/main.css') }}">
    <script src="{{ static_url('shuttle/js/vendor/modernizr-2.7.1.min.js') }}"></script>
  </head>

  <body>

    <!-- Main Container -->
    <div id="main" class="main">

      <!-- Toolbar -->
      {% module Template("shuttle/block-toolbar.html") %}
      <!-- End of Toolbar -->

      <!-- Page Contents -->
      <div class="page animated fadeinup">

        <!-- Calendar -->
        <div class="calendar primary-color">

          <!-- Header -->
          <div class="hero-header hero-small animated fadeindown">
            <h1 class="hero-title white-text">July</h1>
          </div>

          <table>
            <!-- Weekdays -->
            <thead>
              <tr>
                <td>Sun</td>
                <td>Mon</td>
                <td>Tue</td>
                <td>Wed</td>
                <td>Thu</td>
                <td>Fri</td>
                <td>Sat</td>
              </tr>
            </thead>

            <!-- Month Days -->
            <tbody>
              <tr>
                <td class="prev-month">29</td>
                <td class="prev-month">30</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td class="event">5</td>
              </tr>
              <tr>
                <td>6</td>
                <td class="event">7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
                <td class="event">11</td>
                <td>12</td>
              </tr>
              <tr>
                <td>13</td>
                <td>14</td>
                <td class="current-day accent-text z-depth-2 event animated bouncein delay-2">15</td>
                <td>16</td>
                <td>17</td>
                <td>18</td>
                <td>19</td>
              </tr>
              <tr>
                <td class="event">20</td>
                <td>21</td>
                <td>22</td>
                <td>23</td>
                <td class="event">24</td>
                <td>25</td>
                <td>26</td>
              </tr>

              <tr>
                <td>27</td>
                <td>28</td>
                <td>29</td>
                <td>30</td>
                <td>31</td>
                <td class="next-month">1</td>
                <td class="next-month">2</td>
              </tr>
            </tbody>
          </table>
        </div> <!-- end calendar -->

        <!-- Daily Activity-->
        <div class="activities">
          <div class="activity animated fadeinright delay-1">
            <p>Breakfast with Lee</p>
            <span class="activity-time small grey-text"><i class="ion-ios-clock-outline"></i> <span class="">7 - 9am | Just a coffee</span></span>
            <span class="activity-type"><i class="ion-coffee"></i></span>
          </div>

          <!-- Activity -->
          <div class="activity animated fadeinright delay-2">
            <p>Work Meeting</p>
            <span class="activity-time small grey-text"><i class="ion-ios-clock-outline"></i> <span class="">10 - 11am | Web App</span></span>
            <span class="activity-type"><i class="ion-android-create"></i></span>
          </div>

          <!-- Activity -->
          <div class="activity animated fadeinright delay-3">
            <p>Lunch with Tim</p>
            <span class="activity-time small grey-text"><i class="ion-ios-clock-outline"></i> <span class="">1 - 2pm | Restaurant</span></span>
            <span class="activity-type"><img class="circle" src="/static/shuttle/img/user.jpg" alt=""></span>
          </div>

          <!-- Activity -->
          <div class="activity animated fadeinright delay-4">
            <p>Buy Ticket to Tokyo</p>
            <span class="activity-time small grey-text"><i class="ion-ios-clock-outline"></i> <span class="">7pm | At Home</span></span>
            <span class="activity-type"><i class="ion-android-plane"></i></span>
          </div>

          <!-- Activity -->
          <div class="activity animated fadeinright delay-5">
            <p>Mike's Party</p>
            <span class="activity-time small grey-text"><i class="ion-ios-clock-outline"></i> <span class="">22pm | Mike's House</span></span>
            <span class="activity-type">
              <img class="circle" src="/static/shuttle/img/user2.jpg" alt="">
            </span>
            <span class="activity-type second-type">
              <img class="circle" src="/static/shuttle/img/user3.jpg" alt="">
            </span>
          </div>
        </div>

      </div>
      <!-- End of Page Contents -->

      <!-- Sidebars -->
      <!-- left sidebar -->
      {% module Template("shuttle/block-left-sidebar.html") %}
      <!-- /left sidebar -->

      <!-- right sidebar -->
      {% module Template("shuttle/block-right-sidebar.html") %}
      <!-- /right sidebar -->
      <!-- End of Sidebars -->

    </div>
    <!-- End of Main Container -->

    <!-- Scripts -->
    <script src="{{ static_url('shuttle/js/vendor/jquery-2.1.0.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/helper.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/HeadsUp.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/jquery.smoothState.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/chart.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/jquery.mixitup.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/jquery.swipebox.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/masonry.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/swiper.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/materialize.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/main.js') }}"></script>
  </body>
</html>
