<!DOCTYPE html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <title>Shuttle - Material Design Mobile Template</title>
  <meta name="description" content="Material Design Mobile Template">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/shuttle/img/touch/apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/shuttle/img/touch/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/shuttle/img/touch/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/static/shuttle/img/touch/apple-touch-icon-57x57-precomposed.png">
  <link rel="shortcut icon" sizes="196x196" href="/static/shuttle/img/touch/touch-icon-196x196.png">
  <link rel="shortcut icon" href="/static/shuttle/img/touch/apple-touch-icon.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="/static/shuttle/img/touch/apple-touch-icon-144x144-precomposed.png">
  <meta name="msapplication-TileColor" content="#222222">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">

  <!-- SEO: If mobile URL is different from desktop URL, add a canonical link to the desktop page -->
  <!--
    <link rel="canonical" href="http://www.example.com/" >
    -->

  <!-- For iOS web apps. Delete if not needed. https://github.com/h5bp/mobile-boilerplate/issues/94 -->
  <!--
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="">
    -->

  <!-- Icons -->
  <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" media="all" rel="stylesheet" type="text/css">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{{ static_url('shuttle/css/animate.css') }}">
  <link rel="stylesheet" href="{{ static_url('shuttle/css/materialize.min.css') }}">
  <link rel="stylesheet" href="{{ static_url('shuttle/css/swipebox.min.css') }}">
  <link rel="stylesheet" href="{{ static_url('shuttle/css/swiper.min.css') }}">
  <link rel="stylesheet" href="{{ static_url('shuttle/css/normalize.css') }}">
  <link rel="stylesheet" href="{{ static_url('shuttle/css/main.css') }}">
  <script src="{{ static_url('shuttle/js/vendor/modernizr-2.7.1.min.js') }}"></script>
</head>

<body>

  <!-- Main Container -->
  <div id="main" class="main">

    <!-- Toolbar -->
    {% module Template("shuttle/block-toolbar.html") %}
    <!-- End of Toolbar -->

    <!-- Page Contents -->
    <div class="grey lighten-4 animated fadeinup">

      <div class="news-main animated fadein delay-1">
        <img alt="" src="/static/shuttle/img/10.jpg">
        <div class="opacity-overlay-gradient"></div>
        <a href="event.html">
          <div class="opacity-overlay-black">
          </div>
        </a>

        <div class="top-news animated fadeinright delay-1">
          <h4 class="top-news-title">
              <a href="event.html">A wonderful serenity has taken possession of me</a>
            </h4>
          <span class="top-news-channel">CNN - 10 min ago</span> <span class="top-news-category">SCIENCE</span>
          <div class="clr"></div>
        </div>
      </div>

      <div class="news">
        <div class="media-top-object animated fadeinright z-depth-1 delay-2">
          <a href="event.html" class="media-left"><img src="/static/shuttle/img/3.jpg" alt=""></a>
          <div class="media-body">
            <h4 class="news-title">
                <a href="event.html">Absorbed in the dark</a>
              </h4>
            <p class="small">This is dummy caption. It has been placed here solely to demonstrate the look and feel of finished, typeset text.</p>
            <div class="card-feedback">
              <div class="card-users">
                <i class="ion-ios-heart accent-text"></i> <span>346</span>
                <i class="ion-android-person-add"></i> <span>205</span>
              </div>
              <div class="card-share">
                <i class="ion-android-share-alt"></i> <span>Share</span>
              </div>
            </div>
          </div>
        </div>

        <div class="media-top-object animated fadeinright z-depth-1 delay-3">
          <a href="event.html" class="media-left"><img src="/static/shuttle/img/9.jpg" alt=""></a>
          <div class="media-body">
            <h4 class="news-title">
                <a href="event.html">Feeling the charm</a>
              </h4>
            <p class="small">This is dummy caption. It has been placed here solely to demonstrate the look and feel of finished, typeset text.</p>
            <div class="card-feedback">
              <div class="card-users">
                <i class="ion-ios-heart accent-text"></i> <span>842</span>
                <i class="ion-android-person-add"></i> <span>344</span>
              </div>
              <div class="card-share">
                <i class="ion-android-share-alt"></i> <span>Share</span>
              </div>
            </div>
          </div>
        </div>

        <div class="media-top-object animated fadeinright z-depth-1 delay-4">
          <a href="event.html" class="media-left"><img src="/static/shuttle/img/8.jpg" alt=""></a>
          <div class="media-body">
            <h4 class="news-title">
                <a href="event.html">I neglect my talents</a>
              </h4>
            <p class="small">This is dummy caption. It has been placed here solely to demonstrate the look and feel of finished, typeset text.</p>
            <div class="card-feedback">
              <div class="card-users">
                <i class="ion-ios-heart accent-text"></i> <span>164</span>
                <i class="ion-android-person-add"></i> <span>86</span>
              </div>
              <div class="card-share">
                <i class="ion-android-share-alt"></i> <span>Share</span>
              </div>
            </div>
          </div>
        </div>

        <div class="media-top-object animated fadeinright z-depth-1 delay-5">
          <a href="event.html" class="media-left"><img src="/static/shuttle/img/7.jpg" alt=""></a>
          <div class="media-body">
            <h4 class="news-title">
                <a href="event.html">The bliss of souls</a>
              </h4>
            <p class="small">his is dummy caption. It has been placed here solely to demonstrate the look and feel of finished, typeset text.</p>
            <div class="card-feedback">
              <div class="card-users">
                <i class="ion-ios-heart accent-text"></i> <span>428</span>
                <i class="ion-android-person-add"></i> <span>173</span>
              </div>
              <div class="card-share">
                <i class="ion-android-share-alt"></i> <span>Share</span>
              </div>
            </div>
          </div>
        </div>

        <div class="media-top-object animated fadeinright z-depth-1 delay-6">
          <a href="event.html" class="media-left"><img src="/static/shuttle/img/6.jpg" alt=""></a>
          <div class="media-body">
            <h4 class="news-title">
                <a href="event.html">I am so happy</a>
              </h4>
            <p class="small">his is dummy caption. It has been placed here solely to demonstrate the look and feel of finished, typeset text.</p>
            <div class="card-feedback">
              <div class="card-users">
                <i class="ion-ios-heart accent-text"></i> <span>913</span>
                <i class="ion-android-person-add"></i> <span>748</span>
              </div>
              <div class="card-share">
                <i class="ion-android-share-alt"></i> <span>Share</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- footer -->
      {% module Template("shuttle/block-footer.html") %}
      <!-- /footer -->

    </div>
    <!-- End of Page Contents -->

    <!-- Sidebars -->
    <!-- left sidebar -->
    {% module Template("shuttle/block-left-sidebar.html") %}
    <!-- /left sidebar -->

    <!-- right sidebar -->
    {% module Template("shuttle/block-right-sidebar.html") %}
    <!-- /right sidebar -->
    <!-- End of Sidebars -->

  </div>
  <!-- End of Main Container -->

  <!-- Scripts -->
  <script src="{{ static_url('shuttle/js/vendor/jquery-2.1.0.min.js') }}"></script>
  <script src="{{ static_url('shuttle/js/helper.js') }}"></script>
  <script src="{{ static_url('shuttle/js/vendor/HeadsUp.js') }}"></script>
  <script src="{{ static_url('shuttle/js/vendor/jquery.smoothState.js') }}"></script>
  <script src="{{ static_url('shuttle/js/vendor/chart.min.js') }}"></script>
  <script src="{{ static_url('shuttle/js/vendor/jquery.mixitup.min.js') }}"></script>
  <script src="{{ static_url('shuttle/js/vendor/jquery.swipebox.min.js') }}"></script>
  <script src="{{ static_url('shuttle/js/vendor/masonry.min.js') }}"></script>
  <script src="{{ static_url('shuttle/js/vendor/swiper.min.js') }}"></script>
  <script src="{{ static_url('shuttle/js/vendor/materialize.min.js') }}"></script>
  <script src="{{ static_url('shuttle/js/main.js') }}"></script>
</body>

</html>
