
<!DOCTYPE HTML>
<html>
	<head>
		<title>密码找回-UI中国-专业界面交互设计平台</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="ui设计,界面设计,ui平台,学ui,ui教程,ui源文件,ui下载,ui问答,ui杂志,ui活动,ui软件,ui工具,ui灵感,ui经验">
<meta name="Description" content="UI中国,前身为iconfans.com。是专业的界面设计师交流、学习/展示平台.同时也是UI设计师人才流动的集散地,会员均为一线UI设计师,覆盖主流互联网公司.我们希望借助互联网的力量打造国内最专业的UI设计平台,为UI设计师做最好的服务,提高UI设计行业价值!">

<link rel="stylesheet" href="{{ static_url('uicn/css/base.css') }}">
<link rel="stylesheet" href="{{ static_url('uicn/css/login-fluid.css') }}">
<link rel="stylesheet" href="{{ static_url('uicn/css/verify.css') }}">
<link rel="stylesheet" href="{{ static_url('uicn/css/iconfont.css') }}">
	</head>
	<body>
        <div id="ajax-hook"></div>
		<div class="wp cl">
            <div class="log-wrap cl">
                <div class="log-hd">
                    <div class="wpl cl">
                        <div class="log-row cl">
                            <div class="log-logo"><a href="http://www.ui.cn"> <img src="http://s7.ui.cn/img/log-logo.png"  srcset="http://s7.ui.cn/img/@2x/log-logo@2x.png 2x" /></a></div>
                            <div class="log-title">
                                <strong>密码找回!</strong>
                                <p>请填入您的邮箱进行密码找回</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="log-content cl">
                    <div class="wpl pos cl">
                         <div class="log-row-cx cl">
							<div class="reg_left pos z">
                                <form id="LoginForm" action="" method="post">
										<label class="login-icon pos">
                                            <i class="iconfont fss log-i icon-envelope-line"></i>
                                            <input id="forgot-email" type="text" name="forgot-email" value="请输入注册邮箱" class="log-input login-email mls" />
                                        </label>
                                        <label class="login-icon pos" id='username' style='display:none'>
                                            <i class="iconfont fss log-i icon-user-line"></i>
                                            <input id="forgot-user" type="text" name="forgot-user" value="请输入用户名" class="log-input login-name mls" />
                                        </label>
                                        <label class="login-icon fg-code pos">
                                            <i class="iconfont fss log-i icon-lock-line"></i>
                                            <input id="forgot-code" type="text" name="forgot-code" value="请输入验证码" class="log-input-half login-pwd mls" />
                                        </label>
                                        <div class="fg-code-wp">
                                            <span class="fg-code-pic">
                                                <img src="/code" onclick="this.src='/code?'+Math.random()" alt="换一张"/>
                                            </span>
                                            <a class="fg-code-t" href="javascript:;" onclick="$('.fg-code-pic img').attr('src','/code?'+Math.random())">换一张</a>
                                        </div>
                                        <button id="forgot-button" class="lang-btn lang-btn-huge lang-btn-fixed-Large mtw" >
                                            <span class="lang-btn-content">发送验证邮件</span>
                                        </button>
                                </form>
                               <div class="log-cartoon"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="log-footer cl">
    <div class="wpl cl">
        <div class="log-row cl">
            <p style="display:block;width:100%;text-align:center;">京ICP备14007358号-1  \ 京公网安备11010802014104号  \ Powered by © 2008-2016 UI.CN</p>
        </div>
    </div>
</div>
<div style="display:none">
	<script src="http://s6.cnzz.com/stat.php?id=5726673&web_id=5726673" language="JavaScript"></script>
</div>
		</div>
        <script type="text/javascript" src="{{ static_url('uicn/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ static_url('uicn/js/migrate.js') }}"></script>
        <script type="text/javascript" src="{{ static_url('uicn/js/passforgot.js') }}"></script>
        <script type="text/javascript" src="{{ static_url('uicn/js/msgTip.js') }}"></script>
	</body>
</html>
