<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Shuttle - Material Design Mobile Template</title>
    <meta name="description" content="Material Design Mobile Template">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/shuttle/img/touch/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/shuttle/img/touch/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/shuttle/img/touch/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/shuttle/img/touch/apple-touch-icon-57x57-precomposed.png">
    <link rel="shortcut icon" sizes="196x196" href="/static/shuttle/img/touch/touch-icon-196x196.png">
    <link rel="shortcut icon" href="/static/shuttle/img/touch/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="/static/shuttle/img/touch/apple-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#222222">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">

    <!-- SEO: If mobile URL is different from desktop URL, add a canonical link to the desktop page -->
    <!--
    <link rel="canonical" href="http://www.example.com/" >
    -->

    <!-- For iOS web apps. Delete if not needed. https://github.com/h5bp/mobile-boilerplate/issues/94 -->
    <!--
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="">
    -->

    <!-- Fonts -->
    <!-- <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,100' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'> -->
    <!-- Icons -->
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" media="all" rel="stylesheet" type="text/css">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ static_url('shuttle/css/animate.css') }}">
    <link rel="stylesheet" href="{{ static_url('shuttle/css/materialize.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('shuttle/css/swipebox.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('shuttle/css/swiper.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('shuttle/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ static_url('shuttle/css/main.css') }}">
  </head>

  <body>

    <!-- Main Container -->
    <div id="main" class="main">

      <!-- Toolbar -->
      <div id="toolbar" class="primary-color tool-login">
        <div class="open-left" id="open-left" data-activates="slide-out-left">
          <i class="ion-android-menu white-text"></i>
        </div>
      </div>
      <!-- End of Toolbar -->

      <!-- Page Contents -->
      <div class="page fullscreen grey lighten-4">

        <form id="register-form" onsubmit="return false;">
        <div class="login-form z-depth-1">
          <h1>注册</h1>
          <div class="input-field">
            <i class="ion-android-contact prefix"></i>
            <input class="validate" id="rg_phone" name="rg_phone" type="text">
            <label for="rg_phone">手机</label>
          </div>

          <div class="input-field" style="margin-bottom:20px;">
            <i class="ion-android-lock prefix"></i>
            <input class="validate" id="rg_pwd" name="rg_pwd" type="password">
            <label for="rg_pwd">密码</label>
          </div>

          <div class="register-form-main-message" style="color:red;"></div>
          <a class="waves-effect waves-light btn-large primary-color block m-b-20 animated bouncein delay-2"
            href="#" name="submit" onclick="regist()">注册</a>
          <!-- <button type="submit" class="waves-effect waves-light btn-large accent-color block m-b-20 animated bouncein delay-2">注册</button> -->
        </div>
        </form>

      </div>
      <!-- End of Page Contents -->

      <!-- Sidebars -->
      <!-- left sidebar -->
      {% module Template("shuttle/block-left-sidebar.html") %}
      <!-- /left sidebar -->

      <!-- right sidebar -->
      {% module Template("shuttle/block-right-sidebar.html") %}
      <!-- /right sidebar -->
      <!-- End of Sidebars -->

    </div>
    <!-- End of Main Container -->

    <!-- Scripts -->
    <script src="{{ static_url('shuttle/js/vendor/jquery-2.1.0.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/helper.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/HeadsUp.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/jquery.smoothState.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/chart.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/jquery.mixitup.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/jquery.swipebox.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/masonry.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/swiper.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/materialize.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/main.js') }}"></script>

    <script type="text/javascript" src="{{ static_url('js/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/localization/messages_zh.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('upyun/js/spark-md5.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/json2.js') }}"></script>

    <script type="text/javascript">

      $(function() {
        // 手机号码验证
        jQuery.validator.addMethod("mobile", function(value, element) {
          var length = value.length;
          var mobile = /^(((13[0-9]{1})|(15[0-9]{1})|(17[0-9]{1})|(18[0-9]{1})|(19[0-9]{1}))+\d{8})$/;
          return this.optional(element) || (length == 11 && mobile.test(value));
        }, "请正确填写您的手机号码");


        // Register Form
        //----------------------------------------------
        // Validation
        $("#register-form").validate({
          rules: {
            rg_phone: {
              minlength: 11,
              maxlength: 11,
              required: true,
              mobile: true,
            },
            rg_pwd: {
              required: true,
              minlength: 6
            },
          },
          messages: {
           rg_phone: "请输入正确的手机号",
           rg_pwd: {
            required: "请输入密码",
            minlength:"输入至少6位密码"
           }
          },
          errorClass: "error",
          submitHandler: function(form) {
            console.log('register');
            var data = {
              action: 'register',
              login_type: 'phone',
              phone: $('#rg_phone').val(),
              pwd : SparkMD5.hash($('#rg_pwd').val()),
              // pwd: $.md5($('#rg_pwd').val()),
            };
            var json = JSON.stringify(data);
            console.log(json);

            $.ajax({
              type: "POST",
              url: "/api/auth/accounts",
              headers: {
                "Authorization": "Bearer eHfWk+OqSWaR7FhDTkW/d7TIZqP3q0W3nVGXKZY5A8Q="
              },
              data: json,
              dataType: "json",
              contentType: 'application/json',
              success: function(data, status, xhr) {
                var json = JSON.stringify(data);
                console.log(json);

                // 注册帐号成功后，登录
                $.ajax({
                  type: "POST",
                  url: "/api/auth/tokens",
                  headers: {
                    "Authorization": "Bearer eHfWk+OqSWaR7FhDTkW/d7TIZqP3q0W3nVGXKZY5A8Q="
                  },
                  data: json,
                  dataType: "json",
                  contentType: 'application/json',
                  success: function(data, status, xhr) {
                    var json = JSON.stringify(data);
                    console.log(json);

                    // 登录成功后，加入联盟
                    $.ajax({
                      type: "POST",
                      url: "/portal/auth/league-signup",
                      data: json,
                      dataType: "json",
                      contentType: 'application/json',
                      success: function(data, status, xhr) {},
                      error: function(XMLHttpRequest, textStatus, errorThrown) {
                        console.log("XMLHttpRequest.status:" + XMLHttpRequest.status);
                      },
                      complete: function(XMLHttpRequest, textStatus) {
                        this; // 调用本次AJAX请求时传递的options参数
                      }
                    });
                  },
                  error: function(XMLHttpRequest, textStatus, errorThrown) {
                    console.log("XMLHttpRequest.status:" + XMLHttpRequest.status);
                  },
                  complete: function(XMLHttpRequest, textStatus) {
                    this; // 调用本次AJAX请求时传递的options参数
                  }
                });

                location.href = "/webapp/login-next";
              },
              error: function(XMLHttpRequest, textStatus, errorThrown) {
                console.log("XMLHttpRequest.status:" + XMLHttpRequest.status);
                if (XMLHttpRequest.status == 409) {
                  $('.register-form-main-message').addClass('show error').html('帐号已经存在, 请更换手机号码');
                } else {
                  $('.register-form-main-message').addClass('show error').html('网络异常,刷新重试');
                }
              },
              complete: function(XMLHttpRequest, textStatus) {
                this; // 调用本次AJAX请求时传递的options参数
              }
            });
          }
        });

      });

      function regist(){
        $("#register-form").submit();
      }
    </script>

  </body>
</html>
